integration/hsatk-integration/src/main/resources/schemas/employee/2.2/core_components/infrastructure_directory_employee_2.2_ext.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:tns="urn:riv:infrastructure:directory:employee:2.2"   xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:riv:infrastructure:directory:employee:2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2">

  <xs:element name="age" type="xs:string"/>
  <xs:element name="gender" type="xs:string"/>
  <xs:element name="profile" type="tns:ProfileEnum" />

  <xs:simpleType name="ProfileEnum">
    <xs:restriction base="xs:string">
       <xs:enumeration value="extended1" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>